@import './assets/_mixins';
// pour importer un élément: @include absolute-el()
@import './assets/_placeholders'; 
// pour importer un élément: @extend %lenomdetonplaceholder
@import './assets/_variables';
// pour importer un élément: $exemplecouleur
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body{
    background-image: url(Images/fond.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
}

.title{
    display: flex;
    justify-content: flex-end;
    padding:1%;
    font-size:3em;
    font-family: 'Quicksand', sans-serif;
    text-transform:uppercase;
}

.buttonadd{
    color:white;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.6);
    padding:1em 1.7em;
    border-radius: 10em;
    &:hover{
        cursor: pointer;    
        background: rgba(255, 255, 255, 0.4);
        color:$grey;

    }
}

.div-name{
    display: flex;
    flex-direction: row;
}

