@import './assets/_mixins';
// pour importer un élément: @include absolute-el()
@import './assets/_placeholders'; 
// pour importer un élément: @extend %lenomdetonplaceholder
@import './assets/_variables';
// pour importer un élément: $exemplecouleur

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@600&display=swap');

//-----------------------//

*{
    margin: 0;
    padding: 0;
    text-decoration:none;
    list-style: none;
}


html{
    min-height: 100%;
}

body{
    background-image:url(/css/images/fond.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    font-family: 'Heebo';
}

//-------------------------HEADER-----------------------//

header{
    @include flexdirect (flex, column);
}

.title{
    @include flexcontent (flex, flex-end);
    padding:5%;
    font-size:2em;
    font-family: 'Quicksand', sans-serif;
    text-transform:uppercase;
}

.buttonadd{
    width: 15em;
    height: 2em;
    text-align: center;
    margin:10% 25%;
    color:white;
    text-transform:uppercase;
    font-size:1em;
    border-radius: 10em;
    @extend %glassmorphismbutton;
    &:focus{
        background: rgba(255, 255, 255, 0.6);
        border: 1px solid rgba(255, 255, 255, 0.6);
        color:$grey;
    }
}

//-------------------------MAIN-----------------------//


main{
    @include flexdirect (flex, column);
    color:black;
    width:auto;
    min-height: 50vh;
    //height:15em;
  // height:34em;
}


section{
    width: 85%;
    display:table;
    margin: 3% 5% 3% 5%;
    padding:3%;
    color: white;
    @extend %glassmorphismbackground;
}

h2{//"Titre de l'Event"
    text-align: center;
    padding:1em;
}

p{//"Description Event"
    text-align:center;
    padding-bottom:4%;
}

.div-attendees {
    @include flexdirect (flex, row);
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.6);
    display:table;
    h3{
        display: table-cell;
        width:5em;
        margin: 3%;
        font-size:0.9em;
    }
}
  
.div-dates {
    @include flexdirect (flex, row);
    width: 100%;
    display:table;
    h3{
        display: table-cell;
        padding-bottom: 1em;
        margin: 3%;
        font-size:0.9em;
    }
}
.div-checkbox{
    margin-top: 3%;
    input{
        padding-right: 2%;
    }
}
.submit-attendee{
    width:7em;
    padding: 2%;
    border-radius: 10em;
}

h4{//"Event created by"
    @include flexcontent (flex, flex-end);
    font-size: 0.7em;
}

.div-author{//div qui reprend l'auteur+ les incônes
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    margin:3%;

}

h4{//"Event created by"
    font-size: 0.7em;
}

.fa-solid{
    padding-left: 3%;
}

//-----------------------ASIDE-------------------------//

aside{//le menu quand on click sur addEvent
    top:0;
    position:absolute;
    @include flexdirect (flex, column);
    margin-left:-115%;
    background-color:$grey;
    padding:5%;
    margin-top:13em ;
    width: 24rem;
    height:auto;
    transition: all 0.5s;
}

input{
    background-color: $grey;
    color: white;
    border: 0.1px solid rgb(68, 68, 68);
    padding:0.3em;
    margin-bottom: 1.3em;
    border-radius: 0.1em;

}


.button-close{
    margin:0em 3em 0.3em 22.2em;
}

.button-submit{
    width: 10em;
    color:$grey;
    text-transform:uppercase;
    font-size:1em;
    border-radius: 16px;
    padding:0.5em 2em;
    border-radius: 10em;

}
input[type="date"]::-webkit-calendar-picker-indicator {

    filter: invert(1);
  }
//-----------------------FOOTER-------------------------//

footer{
    margin-bottom:2%;
    @include flexcontent (flex, space-evenly);
    //height: 2em;
}

a{
    color:white;
}

//-----------------------MEDIA QUERIES-------------------------//

@media screen and (min-width: 1023px) {

//--------------HEADER-----------------------//

.title{
        font-size:3em;
        padding:2%;
}
    
.buttonadd{

    font-size:1.5em;
    margin:3% 35%;
        &:hover{
            cursor: pointer;    
            background: rgba(255, 255, 255, 0.6);
            border: 1px solid rgba(255, 255, 255, 0.6);
            color:$grey;
        }
}

//--------------MAIN-----------------------//

main{
    @include flexdirect (flex, row);

}

section{
    @include flexdirect (flex, column);
    padding: 1%;
    height: auto;
}
.button-close{
    &:hover{
        cursor:pointer;
    }
}

.fa-solid{
    &:hover{
        cursor:pointer;
    }
}
//--------------ASIDE-----------------------//

aside{
    top:0;
    padding:2%;
    margin-top:0em ;
    width: 20%;
    height: 100%;
}
.button-close{
    margin:0em 3em 0.3em 15em;
}

//--------------FOOTER-----------------------//

footer{
    margin-top: 1em;
    font-family: 'Heebo',sans-serif;
    font-weight : 600;
}

a{
    //color:$grey;
        &:hover{
        color:aqua;
        cursor:pointer;
}
}
}
